/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
:root{
    --body-color :  #002025;
    --button-color: orange;
    --main-color :  #f8f8f839;
    --input-text:#bbf596;
}
body{ 
    background-color: #1c2742;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 100vh;
    max-width: 100vw;
    
   
}
.mainwrap{
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgba(255, 0, 0, 0.016);
}
.main{
    background-color: #92838339;
    max-width: 89%;
    -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
    height:80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    overflow-x: hidden;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    left: 4.9%;
    top: 5%;
    border-radius: 10px;
    margin-right: 10%;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    overflow-y: scroll;
    
}
.head{
    
    color: aliceblue;
    font-size: 20px;
    background-color: #e7761f;
    width: 49.9%;
    height: 99%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  border-radius: 5px;
  font-size: 65%;
}
.brand{
    color: #ff0000;
  height: 100%;
  background-color: black;
 width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 10px;
  font-size: 70%;

}
.inputfeild{
    position: absolute;
    top: 90px;
    width: 85%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 40px;

}
.li{
    
    margin-left: 7%;
    background-color:#23f08a38; /* #007d53 */
    width: 85%;
    min-height: 50px;
    max-height: 100px;
    height:auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    color: #ffffff;
    list-style: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
    -webkit-box-shadow: 5px 5px 10px black;
            box-shadow: 5px 5px 10px black;
    padding: 2px 2px 2px 0px;
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
    font-weight: 700;
    position: relative;
    
    
    
    
}
.input{
    border-radius: 1ch;
    border: none;
    outline: none;
    padding: 20px;
    width: 75%;
    font-size: 80%;
    -webkit-transition: 0.5s ;
    -o-transition: 0.5s ;
    transition: 0.5s ;

    
} 
.add{
    width: 80px;
    background-color: #ff8000;
    border-radius: 10px;
    font-weight: 800;
    margin-left: 5px;
    border: none;
    -webkit-box-shadow: 5px 3px 10px black;
            box-shadow: 5px 3px 10px black;
    color: #ffffff;
    cursor: pointer;

}
.list{
    position:absolute;
    top: 170px;
    width: 100%;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    
    -webkit-box-orient: vertical;
    
    -webkit-box-direction: normal;
    
        -ms-flex-direction: column;
    
            flex-direction: column;
}
.input:hover{
    -webkit-box-shadow: 5px 5px 10px black,
    inset -2px 2px white;
            box-shadow: 5px 5px 10px black,
    inset -2px 2px white;
}
.plus{
    width: 50px;
    height: 48px;
    background-color: #e26f17;
   
   cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 30px;
    font-weight: 500;
    border-radius: 50%;
    color: #ffffff;
    border: none;
    position: absolute;
    z-index: 1;
    bottom: 20%;
    right: 13%;
    -webkit-transition: 1.4s;
    -o-transition: 1.4s;
    transition: 1.4s;


}
.hbox{
    background-color: #000000;
  height: 35px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  
  -webkit-box-pack: center;
  
      -ms-flex-pack: center;
  
          justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
margin-top: 24px;
  border-radius: 10px;

    

}
.chek{
    justify-self: baseline;
    height:23px;
    width: 23px;
    border-radius: 6px;
    position: absolute;
     -webkit-appearance: none;
        -moz-appearance: none;
             appearance: none;
     left: 5%;
   cursor: pointer;
    border: 3px solid #00d4c9;
   -webkit-transition: 0.1s;
   -o-transition: 0.1s;
   transition: 0.1s;
   background-color: #ea1c1c25;
   
}
.chek:checked + label::before {
    background-color: #958989;
    width: 20px;
    height: 20px;
    content: '\2713'; /* Unicode checkmark character */
    font-size: 30px;
    color: #01f2ff;
    display: block;
    position: relative;
    top: -19px;
    left: -14px;
    border-radius: 2px;
    -webkit-transform: translate(50%,50%);
        -ms-transform: translate(50%,50%);
            transform: translate(50%,50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
   
}


.liremove{
       -webkit-transform: translate(150%,0);
           -ms-transform: translate(150%,0);
               transform: translate(150%,0);
       opacity: 0;
    
       
}
.p{  width: 80%;
    
    height: auto;
    


}
p{  
    width: 80%;
    -o-text-overflow: clip;
       text-overflow: clip;
    font-size: 14px;
    overflow-y: scroll;
    position: relative;
    left: 7%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;


}
.advanceTask{
 width: 100vw;
height: 80vh;

position: absolute;
top: 18; 
-webkit-transform: translate(110%,0); 
    -ms-transform: translate(110%,0); 
        transform: translate(110%,0);
/* transition: 0.3s;
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center; */
-webkit-transition: 0.6s;
-o-transition: 0.6s;
transition: 0.6s;


}
.show{
    -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
            transform: translate(0,0);

}
.plushide{
    display: none;
    -webkit-transition: 1.6s;
    -o-transition: 1.6s;
    transition: 1.6s;
}
.input-advance{
    border: none;
    position: absolute;
    top:  120px;

    height: 30px;
    width: 80%;
    border-bottom: 5px solid #00ae91;
    background: none;
    outline: none;
    color: #ffffff;
    font-size: 15px;
    padding: 12px 10px 0px 14px;
    -webkit-filter: drop-shadow(10px,5px 10px black);
            filter: drop-shadow(10px,5px 10px black);



}
.wrap{
    height: auto;
    width: 98%;
    background-color: #0bf1e609;
    position: absolute;
    top: 240px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
    -webkit-box-orient: horizontal;
    
    -webkit-box-direction: normal;
    
        -ms-flex-direction: row;
    
            flex-direction: row;
}
.wrap2{
    height: auto;
    width: 98%;
    background-color: #0bf1e609;
    position: absolute;
    top: 240px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 340px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.lebel{
    color: rgb(113, 109, 109);
    position: absolute;
    bottom: 10px;
    left: 7%;

}
.datewraper{
    width: 98%;
   
    position: absolute;

    display:-webkit-box;

    display:-ms-flexbox;

    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 22px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

}
.timewraper{
    width: 98%;
    background-color: #00d4c900;
    position: absolute;
    
    display:-webkit-box;
    
    display:-ms-flexbox;
    
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 22px;



}

.hours{
    
    background: none;
    color: var(--input-text);
    border: none;
    width: 25%;
    height: 30px;
    border-bottom: 3px solid #00ae91;

    padding-left: 10px;
    font-weight: 700;
    font-size: 10px;
}
option{
    color: #00d4c9;
}

.logo{
    position: absolute;
    height: 370px;
    z-index: -1;
    position: fixed;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 1.1%;
    opacity: 0.3;
    top: 26vh;
    
}
.notificationdelails{


    width: 95%;
    position: absolute;
    top: 390px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    -ms-flex-line-pack: baseline;
        align-content: baseline;
    color: #ffffff;


}
.texts{
    font-size: 9px;
    font-weight: 700;
    margin-left: 1px;
    width: 100%;
    color: #ffffff;

    
}
/* .inputdate{
   background: none;
    color: #ebf8f7;
    border: none;
    outline: none;
    font-weight: 700;
    width: 29%;
    font-size: 10px;
    padding-left: 3px;
    padding-right: 3px;
    height: 27px;
    border-bottom: 3px solid #00ae91;

} */
  /* in here i wrote all off clas which is never exist on main html. 
  Javascript will make all off this by the user order */
.date{ color: #dcfbf6;
    -ms-flex-item-align: end;
        align-self: flex-end;
    position: absolute;
    right: 20%;
    font-size: 7px; /* 7 */
    background-color: rgba(14, 14, 14, 0.473);
     bottom: 5%;
     padding: 3px;
     border-radius: 5px;
    -webkit-backdrop-filter: blur(70px);
            backdrop-filter: blur(70px);
    font-weight: 900;
    -webkit-filter: drop-shadow(1px 1px 4px #00ccff);
            filter: drop-shadow(1px 1px 4px #00ccff);
    
}
.time{
    color: #c5fac8;
    -ms-flex-item-align: end;
        align-self: flex-end;
    position: absolute;
    right: 3%;
    font-size: 7px;
    background-color: rgba(14, 14, 14, 0.473);
     bottom: 5%;
     padding: 3px;
     border-radius: 5px;
    -webkit-backdrop-filter: blur(70px);
            backdrop-filter: blur(70px);
    font-weight: 900;
    -webkit-filter: drop-shadow(1px 1px 4px #00ccff);
            filter: drop-shadow(1px 1px 4px #00ccff);
}
/* unreal elements end */
.dbtn{
    height: 20px;
    width: 20px;
    
}
.backbtn{
    position: absolute;
    left: 5px;
    width: 60px;
    height: 50px;
}



.hidemain{
    -webkit-transform: translate(-130%,0%);
        -ms-transform: translate(-130%,0%);
            transform: translate(-130%,0%);
}
.over{
    background-color: #f5546f45;
}
.responsive{
    color: wheat;
    height: 100vh;
    width: 100vw;
    background-color: #48e7bd90;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-backdrop-filter: blur(300px);
            backdrop-filter: blur(300px);
    display: none;
    position: relative;
    

    

  }
  .res{
    position: absolute;
    top: 10%;
    max-width: 70%;
   
    left: 20%;
    

  }
  .s{
    position: absolute;
    top: 30%;
    left: 20%;
    
  }

@media only screen and (min-width: 460px){
    .responsive{
       
          display: block;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -ms-flex-line-pack: center;
              align-content: center;
    }
    
    
    .main{
        display: none;
    }
    .plus{
        display: none;
    }
}

